* {
    margin: 0;
}

.tab {
    font-size: 18px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.72);
    cursor: pointer;
    text-align: center;
    margin: 0 8px;
    flex: 1;
    height: 56px;
    box-sizing: border-box;
    transition: 240ms cubic-bezier(0.4, 0, 0.2, 1);
    border-bottom: 0px solid #fff;
}

.tab.active {
    color: #f5f5f5;
    border-bottom: 4px solid #fff;
    line-height: 52px;
}

.tab-content {
    position: absolute;
    top: 96px;
    left: 0;
    right: 0;
    display: none;
    opacity: 0;
    margin-top: 24px;
    padding-top: 32px;
    transition: 120ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tab-content.active {
    display: block;
    opacity: 1;
    margin-top: 0;
}

article {
    width: 560px;
    margin: 24px auto;
    padding: 8px 12px;
    border-radius: 4px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.12), 0 1px 5px rgba(0, 0, 0, 0.2);
    background: #ffffff;
}

.title {
    font-size: 80px;
    letter-spacing: 2px;
    font-weight: 500;
    text-align: center;
}

.subtitle {
    font-weight: 500;
    text-align: center;
    font-size: 24px;
}

.button:active {
    box-shadow:0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
    background-color: #279b59;
}

.button section::after {
    content: "->";
    width: 0;
    opacity: 0;
    margin: -8px;
    overflow: hidden;
    transition: 225ms;
}

.button:hover section::after {
    margin: 0 2px;
    opacity: 1;
}

a {
    color: #2da861;
}

a:visited {
    color: purple
}

@media (max-width: 700px) {
    #toolbar {
        width: 80vw !important;
    }
    article {
        width: 78vw;
    }
}