* {
    margin: 0;
}

*:focus {
    outline: none;
}

.tab {
    font-size: 18px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.72);
    cursor: pointer;
    text-align: center;
    margin: 0 8px;
    flex: 1;
    height: 56px;
    box-sizing: border-box;
    transition: 240ms cubic-bezier(0.4, 0, 0.2, 1);
    border-bottom: 0px solid #fff;
}

.tab.active {
    color: #f5f5f5;
    border-bottom: 4px solid #fff;
    line-height: 52px;
}

.tab-content {
    position: absolute;
    top: 56px;
    left: 0;
    right: 0;
    display: none;
    opacity: 0;
    font-size: 20px;
    max-height: calc(100vh - 128px);
    margin-top: 24px;
    transform: scale(0.95);
    transition: 120ms cubic-bezier(0.4, 0.0, 1, 1);
}

.tab-content.active {
    transform: scale(1);
    transition: 180ms cubic-bezier(0.4, 0.0, 0.2, 1);
    display: block;
    opacity: 1;
    margin-top: 0;
}

article {
    max-height: calc(100vh - 112px);
    box-sizing: border-box;
    overflow-y: auto;
    width: 532px;
    margin: 24px auto;
    padding: 8px 12px;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 3px 70px -1px rgba(0, 0, 0, 0.12), 0 6px 21px 0 rgba(0, 0, 0, 0.10), 0 1px 39px 0 rgba(0, 0, 0, 0.08);
    font-size: 24px;
}

.title {
    padding-top: 64px;
    font-size: 80px;
    letter-spacing: 2px;
    font-weight: 500;
    text-align: center;
}

.subtitle {
    font-weight: 500;
    text-align: center;
    font-size: 24px;
}

.button:active {
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
    background-color: #64aa80;
}

.button section::after {
    content: "->";
    width: 0;
    opacity: 0;
    margin: -8px;
    overflow: hidden;
    transition: 225ms;
}

.button:hover section::after {
    margin: 0 2px;
    opacity: 1;
}

a {
    color: #64aa80;
}

a:visited {
    color: purple
}

@media (max-width: 608px) {
    #toolbar {
        position: fixed !important;
        bottom: 0;
        top: unset !important;
        width: 100% !important;
        border-radius: 16px 16px 0 0 !important;
        box-sizing: border-box;
        z-index: 24;
    }

    .tab-content {
        max-height: calc(100% - 56px);
        top: 0;
        padding: 0;
    }

    .tab-content:first-of-type {
        padding-top: 24px;
    }

    article {
        margin: 8px auto;
        max-height: calc(100vh - 72px);
        width: calc(100% - 16px);
    }

    .title {
        font-size: 64px;
    }

    .subtitle {
        font-size: 20px;
    }
}