html {
    --color-primary: #64aa80;
    font-family: 'Cabin', sans-serif;
    /*-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);*/
    min-height: 100%;
}

main {
    display: block;
}

* {
    outline: none;
}

.subheader {
    color: rgba(255, 255, 255, 0.87);
    margin: 16px;
    font-size: 16px;
    font-weight: 500;
}

#contact-list {
    margin-top: 8px;
    padding-bottom: 56px;
}

.conversation {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: #fafafa;
    left: 0;
    transition: 112ms cubic-bezier(0.4, 0, 1, 1);
    z-index: 8;
    opacity: 0.7;
    transform: scale(0.8);
    border-radius: 64px;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.conversation.open {
    opacity: 1;
    transform: scale(1);
    border-radius: 0;
    transition: 96ms cubic-bezier(0, 0, 0.2, 1);
}

.conversation-toolbar {
    width: 100%;
    height: 56px;
    color: rgba(100, 170, 128, 0.87);
}

.close-conversation {
    padding: 14px 16px;
    float: left;
    cursor: pointer;
}

.conversation-name {
    float: left;
    font-size: 24px;
    line-height: 52px;
}

.contact {
    padding-left: 16px;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    min-height: 64px;
    margin-bottom: 8px;
    margin-top: 16px;
    opacity: 0;
    transition: 200ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    border-radius: 4px;
}

.contact:active {
    background-color: #e3e3e3;
}

.top-level-destination.active .contact {
    margin-top: 0;
    opacity: 1;
}

.contact-image {
    margin: 8px 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    float: left;
}

.contact-text {
    width: calc(100% - 64px);
    margin-left: 16px;
    padding: 8px 0;
    float: left;
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.87); */
}

.contact:last-of-type .contact-text {
    border: none;
}

.contact-name {
    margin: 3px 0;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.7);
}

.contact-last-message {
    margin: 2px 0;
    font-size: 16px;
    max-height: 54px;
    width: calc(100% - 8px);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 32px;
}

.top-level-destination {
    display: none;
    position: absolute;
    top: 24px;
    left: 0;
    bottom: 56px;
    width: 100vw;
    box-sizing: border-box;
    transition: 120ms cubic-bezier(0.4, 0.0, 1, 1);
    opacity: 0.4;
}

.top-level-destination.active {
    transition: 250ms cubic-bezier(0, 0, 0.2, 1);
    top: 0;
    opacity: 1;
}

#fab {
    width: 120px;
    height: 56px;
    width: 56px;
    border-radius: 56px;
    position: fixed;
    bottom: -56px;
    right: 8px;
    margin: auto;
    background-color: #3f51b5;
    color: #fff;
    text-align: center;
    transition: 100ms cubic-bezier(0.4, 0, 0.2, 1);
}

#fab svg {
    margin: 16px 16px;
    float: left;
    transition: 100ms cubic-bezier(0.4, 0, 0.2, 1);
}

.top-level-destination.active #fab {
    bottom: 64px;
}

#fab:active {
    background-color: #303f9f;
}

body #login {
    display: block;
    position: fixed;
    margin: auto;
    top: 50vh;
    width: 256px;
    height: 280px;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    background-color: #efefef;
    color: #646464;
    border-radius: 2px;
    padding: 12px 16px;
    transition: opacity 120ms cubic-bezier(0.4, 0.0, 1, 1), top 360ms cubic-bezier(0.4, 0.0, 1, 1);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 1px 5px rgba(0, 0, 0, 0.2);
}

.divider {
    margin: 12px -16px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.14);
}

.body-2 {
    font-size: 32px;
    font-weight: 700;
}

#login.fade-in {
    transition: 250ms cubic-bezier(0, 0, 0.2, 1) 500ms;
    top: 0px;
    opacity: 1;
}

#app-title.scale-in {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1), opacity 250ms cubic-bezier(0, 0, 0.2, 1), top 250ms cubic-bezier(0, 0, 0.2, 1), margin 250ms cubic-bezier(0, 0, 0.2, 1);
    transform: scale(1);
    opacity: 1;
}

#app-title.fade-out {
    opacity: 0;
}

.material-icons {
    cursor: pointer;
    position: relative;
}

.material-icons:after:not(#bottom-navigation) {
    content: "";
    display: block;
    position: absolute;
    left: 16px;
    top: 16px;
    width: 48px;
    height: 48px;
    margin-left: -16px;
    margin-top: -16px;
    background: #c2c2c2;
    border-radius: 100%;
    opacity: 0;
    transform: scale(0);
    transition: 180ms cubic-bezier(0.4, 0, 0.2, 1);
}

#menu-button:after {
    left: 12px;
}

.material-icons:active:after,
.material-icons:focus:after {
    opacity: 0.35;
    transform: scale(1);
}

body .raised-white-button {
    /* Using body here to gain more importance */
    padding-left: 4px;
    color: #424242;
    margin-right: 4px;
    background-color: #eaeaea;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 1px 5px rgba(0, 0, 0, 0.2);
}

.raised-white-button:focus {
    background: #dddddd;
    color: #212121;
}

.raised-white-button:active {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 4px 15px rgba(0, 0, 0, 0.2);
}

.alternative-login-logo {
    margin: 8px;
    float: left;
}

.button,
.button-flat,
.raised-white-button {
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 16px;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 4px;
    transition: 300ms;
    cursor: pointer;
    user-select: none;
    text-align: center;
    font-weight: 700;
}

.button {
    background: #2196f3;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 1px 5px rgba(0, 0, 0, 0.2);
    -webkit-tap-highlight-color: #1a77c9;
    -moz-tap-highlight-color: #1a77c9;
    -webkit-appearance: none;
}

.button-flat {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.12);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0.12);
    -webkit-appearance: none;
}

.button:active,
.button:focus {
    background-color: #1a77c9;
    color: rgba(255, 255, 255, 0.87);
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 4px 15px rgba(0, 0, 0, 0.2);
}

.button-flat:focus {
    background-color: rgba(0, 0, 0, 0.08);
}

.button-flat:active {
    background-color: rgba(0, 0, 0, 0.14);
}

.toolbar-menu {
    text-shadow: none;
    z-index: 12;
    position: absolute;
    top: 0px;
    right: 0px;
    display: block;
    height: 0;
    width: 112px;
    background-color: #fafafa;
    color: #121212;
    transition: height 325ms cubic-bezier(0.4, 0.0, 0.2, 1), opacity 100ms cubic-bezier(0.4, 0.0, 0.2, 1) 25ms, top 125ms cubic-bezier(0.4, 0.0, 1, 1), right 125ms cubic-bezier(0.4, 0.0, 1, 1), padding 100ms cubic-bezier(0.4, 0.0, 0.2, 1) 25ms;
    box-shadow: 0 3px 14px 3px rgba(0, 0, 0, 0.12), 0 4px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border-radius: 2px;
    opacity: 0;
    font-size: 18px;
    float: right;
}

#menu-button.active~.toolbar-menu {
    height: 144px;
    opacity: 1;
    padding: 8px 0;
    right: 4px;
    top: 4px;
}

.toolbar-menu-option {
    width: 100%;
    padding: 0 16px;
    display: block;
    height: 48px;
    line-height: 48px;
    cursor: pointer;
    transition: 200ms cubic-bezier(0.4, 0, 0.2, 1);
    box-sizing: border-box;
}

.toolbar-menu-option:active,
.toolbar-menu-option:hover {
    background-color: #dcdcdc;
}

#bottom-navigation {
    overflow: hidden;
    background-color: #fefefe;
    transition: all 200ms cubic-bezier(0, 0, 0.2, 1), bottom 160ms cubic-bezier(0.4, 0, 1, 1), left 160ms cubic-bezier(0.4, 0, 1, 1);
    position: fixed;
    height: 56px;
    width: 100%;
    bottom: -56px;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    opacity: 0.5;
    z-index: 8;
    border-radius: 8px 8px 0 0; 
}

#bottom-navigation.slide-in {
    bottom: 0;
    opacity: 1;
    /* TODOO FIX SHADOWE LOLE!!! LOLE!!! LOLE!!! */
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.12), 0 1px 5px rgba(0, 0, 0, 0.2);
}

#bottom-navigation .bottom-navigation-destination {
    padding: 8px 8px 0 8px;
    flex: 1;
    text-align: center;
    flex-grow: 1;
    font-size: 12px;
    max-width: 168px;
    transition: 125ms cubic-bezier(0.0, 0.0, 0.2, 1);
    cursor: pointer;
}

#bottom-navigation .bottom-navigation-destination.active {
    padding: 6px 8px 0 8px;
}

.bottom-navigation-destination path {
    transition: 125ms;
    fill: rgba(100, 170, 128, 0.64);
}

.bottom-navigation-destination.active path {
    fill: rgba(100, 170, 128, 0.96);
}

.bottom-navigation-label {
    transition: 225ms cubic-bezier(0.4, 0.2, 0, 1);
    font-weight: 500;
    font-size: 14px;
    color: rgba(100, 170, 128, 0.87);
    text-transform: uppercase;
    font-weight: 500;
}

.bottom-navigation-destination.active .bottom-navigation-label {
    font-size: 16px;
    color: rgba(100, 170, 128, 0.87);
}

#bottom-navigation .bottom-navigation-destination svg {
    font-size: 24px;
    z-index: 4;
    display: block;
    margin: 0 auto 2px auto;
}

.ripple {
    position: relative;
    overflow: hidden;
}

._inkSplash {
    position: absolute;
    background-color: #000;
    width: 16px;
    height: 16px;
    opacity: 0.14;
    z-index: 4;
    border-radius: 50%;
}

.snackbar {
    display: inline-block;
    min-height: 36px;
    position: fixed;
    bottom: -96px;
    width: auto;
    left: 8px;
    right: 8px;
    margin: auto;
    font-size: 16px;
    line-height: 20px;
    border-radius: 4px;
    transition: bottom 225ms cubic-bezier(0.4, 0.0, 1, 1), color 150ms 75ms;
    box-sizing: border-box;
    padding: 12px 16px;
    background-color: #323232;
    color: rgba(256, 256, 256, 0);
    z-index: 24;
    
}

.snackbar.slideUp {
    transition: bottom 200ms cubic-bezier(0.0, 0.0, 0.2, 1), color 150ms 75ms;
    bottom: 64px;
    color: rgba(256, 256, 256, 1);
}

/* Begin preloader */

.preloader-wrapper {
    box-sizing: border-box;
    width: 36px;
    height: 36px;
    display: inline-block;
    position: relative;
}

.preloader-wrapper.centered {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.preloader-wrapper.active {
    -webkit-animation: container-rotate 1568ms linear infinite;
    animation: container-rotate 1568ms linear infinite;
}

.spinner-layer {
    box-sizing: inherit;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-color: #2196f3;
}

.active .spinner-layer {
    opacity: 1;
    -webkit-animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

.gap-patch {
    position: absolute;
    top: 0;
    left: 45%;
    width: 10%;
    height: 100%;
    overflow: hidden;
    border-color: inherit;
    box-sizing: inherit;
}

.gap-patch .circle {
    width: 1000%;
    left: -450%;
}

.circle {
    box-sizing: inherit;
    border-radius: 50%;
}

.circle-clipper {
    display: inline-block;
    position: relative;
    width: 50%;
    height: 100%;
    overflow: hidden;
    border-color: inherit;
    box-sizing: inherit;
}

.circle-clipper.right .circle {
    left: -100%;
    border-left-color: transparent !important;
    -webkit-transform: rotate(-129deg);
    transform: rotate(-129deg);
    box-sizing: inherit;
}

.active .circle-clipper.right .circle {
    -webkit-animation: right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    animation: right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

.circle-clipper.left .circle {
    left: 0;
    border-right-color: transparent !important;
    -webkit-transform: rotate(129deg);
    transform: rotate(129deg);
}

.active .circle-clipper.left .circle {
    -webkit-animation: left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    animation: left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

.circle-clipper .circle {
    width: 200%;
    height: 100%;
    border-width: 4px;
    border-style: solid;
    border-color: inherit;
    border-bottom-color: transparent !important;
    border-radius: 50%;
    -webkit-animation: none;
    animation: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

.left {
    float: left !important;
}

.right {
    float: right !important;
}

@keyframes container-rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes fill-unfill-rotate {
    12.5% {
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    25% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
    37.5% {
        -webkit-transform: rotate(405deg);
        transform: rotate(405deg);
    }
    50% {
        -webkit-transform: rotate(540deg);
        transform: rotate(540deg);
    }
    62.5% {
        -webkit-transform: rotate(675deg);
        transform: rotate(675deg);
    }
    75% {
        -webkit-transform: rotate(810deg);
        transform: rotate(810deg);
    }
    87.5% {
        -webkit-transform: rotate(945deg);
        transform: rotate(945deg);
    }
    100% {
        -webkit-transform: rotate(1080deg);
        transform: rotate(1080deg);
    }
}

@keyframes right-spin {
    0% {
        -webkit-transform: rotate(-130deg);
        transform: rotate(-130deg);
    }
    50% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg);
    }
    100% {
        -webkit-transform: rotate(-130deg);
        transform: rotate(-130deg);
    }
}

@keyframes left-spin {
    0% {
        -webkit-transform: rotate(130deg);
        transform: rotate(130deg);
    }
    50% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }
    100% {
        -webkit-transform: rotate(130deg);
        transform: rotate(130deg);
    }
}

@media screen and (min-width: 672px) {
    /* Bottom nav becomes side nav when screen is too big */
    #bottom-navigation {
        width: 56px;
        height: 100vh;
        left: -64px;
        top: 0;
        right: initial;
        display: initial;
        border-radius: 0;
    }
    #bottom-navigation.slide-in {
        left: 0;
    }
    #bottom-navigation .bottom-navigation-destination {
        color: rgba(256, 256, 256, 0.54);
        padding: 16px;
    }
    /* No need for label on side nav */
    .bottom-navigation-label {
        display: none;
    }
    #bottom-navigation .bottom-navigation-destination.active {
        color: rgba(256, 256, 256, 0.87);
        padding: 16px;
    }
    #bottom-navigation .bottom-navigation-destination .material-icons {
        margin: 0;
    }
    #fab {
        right: 8px;
    }
    .top-level-destination {
        left: 64px;
        right: 0;
        width: auto;
    }
    .top-level-destination.active #fab {
        bottom: 8px;
    }
    main {
        padding-left: 56px;
    }
    #app-title.fade-down {
        top: 16px;
    }
    .snackbar.slideUp {
        bottom: 8px;
    }
    .top-level-destination {
        width: 64vw;
        left: 56px;
        right: 0;
        margin: auto;
    }
    /*#chat-screen {
        width: 40vw;
        left: 56px;
        margin: 0;
        height: 100vh;
    }
    #contact-list {
        height: 100%;
        padding: 0;
        margin: 0;
        padding-top: 8px;
        box-sizing: border-box;
        overflow: auto
    }
    .conversation-toolbar {
        display: none;
    }*/
    .conversation {
        left: 64px;
        right: 8px;
        top: 8px;
        bottom: 8px;
        margin: auto;
        height: auto;
        width: 64vw;
        border-radius: 8px !important;
    }
    
    .snackbar {
        width: 512px;
        left: 8px;
        right: 8px;
    }
}

@media screen and (min-width: 965px) {
    #chat-screen,
    .conversation {
        width: 617.6px;
    }
}