html {
	--color-primary: #5a9271;
	font-family: 'Cabin', sans-serif;
	/*-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-moz-tap-highlight-color: rgba(0, 0, 0, 0);*/
	min-height: 100%;
}

main {
	display: block;
}

* {
	outline: none;
}

a {
	font-size: 14px;
	color: #2a2a2a;
	font-weight: 500;
}

.subheader {
	color: rgba(255, 255, 255, 0.87);
	margin: 16px;
	font-size: 16px;
	font-weight: 500;
}

.dialog {
	position: fixed;
	width: calc(100vw - 16px);
	margin: auto;
	background: #fafafa;
	top: 8px;
	bottom: 8px;
	left: 0;
	right: 0;
	transition: 112ms cubic-bezier(0.4, 0, 1, 1);
	z-index: 8;
	opacity: 0.7;
	transform: scale(0.8);
	overflow: hidden;
	border-radius: 12px !important;
	box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.dialog.open {
	opacity: 1;
	transform: scale(1);
	border-radius: 0;
	transition: 150ms cubic-bezier(0, 0, 0.2, 1);
}

.dialog-footer {
	background-color: #5a9271;
	color: #f5f5f5;
	text-align: center;
	position: absolute;
	font-size: 24px;
	height: 56px;
	bottom: 0;
	left: 0;
	width: 100%;
}

.dialog-name {
	line-height: 54px;
}

.dialog-header {
	width: 100%;
	height: 56px;
	background-color: #5a9171;
}

.dialog-tab {
	width: 50%;
	float: left;
	height: 56px;
	line-height: 56px;
	font-size: 22px;
	color: #e6e6e6;
	text-align: center;
	border-radius: 12px 12px 0 0;
	cursor: pointer;
	transition: 100ms;
}

.dialog-tab.active {
	line-height: 54px;
	background: rgba(0,0,0,0.12);
	color: #f5f5f5;
}

.dialog-tab:not(.active):active {
	background: rgba(0, 0, 0, 0.06);
}

.dialog-destination {
	position: absolute;
	top: 96px;
	height: calc(100% - 112px);
	box-sizing: border-box;
	left: 0;
	width: 100%;
	padding: 8px;
	overflow: hidden;
	z-index: 25;
	opacity: 0;
	transform: scale(0.8);
	transition: 100ms cubic-bezier(0.4, 0, 0.2, 1);
}

.dialog-destination.active {
	transition: 175ms cubic-bezier(0.4, 0, 0.2, 1);
	top: 56px;
	z-index: 26;
	opacity: 1;
	transform: scale(1);
}

.dialog .contact {
	width: 100%;
	margin: 0;
}

.close-dialog {
	padding: 16px;
	height: 24px;
	float: left;
	position: absolute;
	left: 0;
	bottom: 0;
	cursor: pointer;
}

.message-container {
	padding: 8px;
	height: calc(100% - 117px);
	overflow: auto;
	background: #efefef;
}

.message {
	color: unset;
	position: relative;
	width: 100%;
	margin-top: -48px;
	min-height: 48px;
	opacity: 0;
	overflow-wrap: break-word; 
	transition: 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.message:last-of-type {
	margin-bottom: 4px;
}

.message.display {
	margin-top: 0;
	opacity: 1;
}

.message.display.from-me {
	min-height: 36px;
}

.message-avatar {
	float: left;
	width: 36px;
	height: 36px;
	border-radius: 50%;
}

.message-text {
	display: inline-block;
	margin-left: 8px;
	margin-top: 4px;
	padding: 4px 8px;
	border-radius: 8px;
	max-width: calc(100% - 64px);
	background: rgba(0, 0,  0, 0.08);
}

.message.from-me .message-text {
	float: right;
	margin-top: 0;
	background: #5a9271;
	color: #fafafa;
}

.message.from-me .message-text::after {
	content: "";
	height: 8px;
	width: 100%;
	clear: both;
}

.conversation-input-container {
	position: absolute;
	bottom: 56px;
	left: 0;
	width: 100%;
}

#message-input {
	border: 0;
	width: calc(100% - 64px);
	margin: 4px 8px;
	padding: 8px 0;
	background: none;
	font-size: 16px;
}

.conversation-input-container .send-message {
	position: absolute;
	top: 0;
	right: 0px;
	padding: 8px 8px;
}

.conversation-input-container .send-message {
	cursor: pointer;
}

.conversation-input-container .send-message path:first-of-type {
	transition: fill 150ms;
}

.conversation-input-container .send-message path:first-of-type {
	fill: #5a9271;
}

#contact-list {
	padding-bottom: 56px;
}

.contact {
	padding-left: 8px;
	display: inline-block;
	box-sizing: border-box;
	width: calc(100% - 8px);
	height: 64px;
	margin-bottom: 0px;
	margin-top: 24px;
	margin-left: 8px;
	opacity: 0;
	transition: 200ms cubic-bezier(0.4, 0, 0.2, 1);
	cursor: pointer;
	border-radius: 4px;
}

.contact:active {
	background-color: #e3e3e3;
	box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.12),
		0px 1px 3px rgba(0, 0, 0, 0.2);
}

.contact:active .contact-text {
	border: none;
}

.contact.active {
	margin-top: 0px;
	opacity: 1;
}

.contact-image {
	margin-top: 12px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	float: left;
}

.contact-text {
	width: calc(100% - 56px);
	margin-left: 16px;
	padding: 12px 0 13px 0;
	float: left;
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.contact:last-of-type .contact-text {
	border: none;
}

.contact-name {
	margin-top: 2px;
	font-size: 18px;
	line-height: 16px;
	color: rgba(0, 0, 0, 0.9);
}

.contact-last-message {
	margin-top: 6px;
	font-size: 14px;
	line-height: 14px;
	max-height: 54px;
	width: calc(100% - 8px);
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	margin-right: 32px;
}

.top-level-destination {
	display: none;
	position: absolute;
	top: 24px;
	left: 0;
	bottom: 56px;
	width: 100vw;
	box-sizing: border-box;
	transition: 50ms cubic-bezier(0.4, 0.0, 1, 1);
	opacity: 0.2;
	transform: scale(0.96);
}

.top-level-destination.active {
	transition: 225ms cubic-bezier(0, 0, 0.2, 1);
	top: 0;
	opacity: 1;
	transform: none;
}

#add-friend {
	height: 48px;
	line-height: 48px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
	width: 100%;
	margin-bottom: 4px;
	cursor: pointer;
}

#add-friend svg {
	padding: 12px;
	margin-left: 11px;
	float: left;
}

.add-friend-text {
	display: inline-block;
	margin-left: 14px;
}

#add-fren {
	height: 56px;
	width: 56px;
	border-radius: 56px;
	position: fixed;
	bottom: 64px;
	right: 8px;
	margin: auto;
	background-color: #5a9171;
	color: #fff;
	text-align: center;
	transition: 100ms cubic-bezier(0.4, 0, 0.2, 1);
	transform: scale(0);
	opacity: 0;
}

#add-fren svg {
	margin: 16px 16px;
	float: left;
	transition: 100ms cubic-bezier(0.4, 0, 0.2, 1);
}

#add-fren.active {
	bottom: 64px;
	transform: scale(1);
	opacity: 1;
}

#add-fren:active {
	background-color: #518165;
}

body #authentication {
	display: block;
	position: fixed;
	margin: auto;
	top: 50vh;
	width: 256px;
	height: 352px;
	overflow: -moz-hidden-unscrollable;
	overflow: hidden;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	background-color: #efefef;
	color: #323232;
	border-radius: 2px;
	padding: 12px 16px;
	transition: opacity 120ms cubic-bezier(0.4, 0, 1, 1),
		top 360ms cubic-bezier(0.4, 0, 1, 1);
	box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 1px 5px rgba(0, 0, 0, 0.2);
}

#authentication form {
	transition: 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

#authentication.float-up form:first-of-type {
	margin-top: -362px;
}

#authentication.float-up {
	height: 308px;
}

.divider {
	margin: 12px -16px;
	height: 1px;
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.14);
}

h2 {
	font-size: 48px;
	font-weight: 700;
}

#authentication h2  {
	text-align: center;
}

#authentication form {
	margin-bottom: 8px;
}

#authentication a {
	color: #5a9271;
	margin-right: 2px;
	display: inline-block;
}

#authentication.fade-in {
	transition: 250ms cubic-bezier(0, 0, 0.2, 1);
	top: 0px;
	opacity: 1;
}

#app-title.scale-in {
	transition: transform 250ms cubic-bezier(0, 0, 0.2, 1),
	opacity 250ms cubic-bezier(0, 0, 0.2, 1), top 250ms cubic-bezier(0, 0, 0.2, 1),
	margin 250ms cubic-bezier(0, 0, 0.2, 1);
	transform: scale(1);
	opacity: 1;
}

#app-title.float-up {
	margin-top: -292px;
}

#app-title.fade-out {
	opacity: 0;
}

.material-icons {
	cursor: pointer;
	position: relative;
}

.material-icons:after:not(#bottom-navigation) {
	content: "";
	display: block;
	position: absolute;
	left: 16px;
	top: 16px;
	width: 48px;
	height: 48px;
	margin-left: -16px;
	margin-top: -16px;
	background: #c2c2c2;
	border-radius: 100%;
	opacity: 0;
	transform: scale(0);
	transition: 180ms cubic-bezier(0.4, 0, 0.2, 1);
}

#menu-button:after {
	left: 12px;
}

.material-icons:active:after,
.material-icons:focus:after {
	opacity: 0.35;
	transform: scale(1);
}

body .raised-button {
	/* Using body here to gain more importance */
	padding-left: 4px;
	color: #424242;
	margin-right: 4px;
	background-color: #eaeaea;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 1px 5px rgba(0, 0, 0, 0.2);
}

.raised-button:focus {
	background: #dddddd;
	color: #212121;
}

.raised-button:active {
	box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 4px 15px rgba(0, 0, 0, 0.2);
}

.alternative-login-logo {
	margin: 8px;
	float: left;
}

.button,
.button-flat,
.raised-button {
	display: inline-block;
	height: 36px;
	line-height: 36px;
	padding: 0 16px;
	text-transform: uppercase;
	font-size: 14px;
	border-radius: 4px;
	transition: 300ms;
	cursor: pointer;
	user-select: none;
	-moz-user-select: -moz-none;
	text-align: center;
	font-weight: 700;
}

.button {
	background: #5a9271;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 1px 5px rgba(0, 0, 0, 0.2);
	-webkit-tap-highlight-color: #1a77c9;
	-moz-tap-highlight-color: #1a77c9;
	-webkit-appearance: none;
}

.button-flat {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0.12);
	-moz-tap-highlight-color: rgba(0, 0, 0, 0.12);
	color: #5a9271;
	-webkit-appearance: none;
}

.button:active,
.button:focus {
	background-color: #1a77c9;
	color: rgba(255, 255, 255, 0.87);
	box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 4px 15px rgba(0, 0, 0, 0.2);
}

.button-flat:focus {
	background-color: rgba(0, 0, 0, 0.08);
}

.button-flat:active {
	background-color: rgba(0, 0, 0, 0.14);
}

.toolbar-menu {
	text-shadow: none;
	z-index: 12;
	position: absolute;
	top: 0px;
	right: 0px;
	display: block;
	height: 0;
	width: 112px;
	background-color: #fafafa;
	color: #121212;
	transition: height 325ms cubic-bezier(0.4, 0.0, 0.2, 1), opacity 100ms cubic-bezier(0.4, 0.0, 0.2, 1) 25ms, top 125ms cubic-bezier(0.4, 0.0, 1, 1), right 125ms cubic-bezier(0.4, 0.0, 1, 1), padding 100ms cubic-bezier(0.4, 0.0, 0.2, 1) 25ms;
	box-shadow: 0 3px 14px 3px rgba(0, 0, 0, 0.12), 0 4px 15px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	border-radius: 2px;
	opacity: 0;
	font-size: 18px;
	float: right;
}

#menu-button.active~.toolbar-menu {
	height: 144px;
	opacity: 1;
	padding: 8px 0;
	right: 4px;
	top: 4px;
}

.toolbar-menu-option {
	width: 100%;
	padding: 0 16px;
	display: block;
	height: 48px;
	line-height: 48px;
	cursor: pointer;
	transition: 200ms cubic-bezier(0.4, 0, 0.2, 1);
	box-sizing: border-box;
}

.toolbar-menu-option:active,
.toolbar-menu-option:hover {
	background-color: #dcdcdc;
}

#bottom-navigation {
	overflow: hidden;
	background-color: #5a9271;
	transition: all 100ms cubic-bezier(0.4, 0, 1, 1);
	position: fixed;
	height: 56px;
	width: 100%;
	bottom: -56px;
	right: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	opacity: 0.5;
	z-index: 8;
	border-radius: 12px 12px 0 0;
	user-select: none;
	-moz-user-select: none;
}

#bottom-navigation.slide-in {
	transition: all 200ms cubic-bezier(0, 0, 0.2, 1),
		bottom 160ms cubic-bezier(0, 0, 0.2, 1),
		left 160ms cubic-bezier(0, 0, 0.2, 1);
	bottom: 0;
	opacity: 1;
	/* TODOO FIX SHADOWE LOLE!!! LOLE!!! LOLE!!! */
	box-shadow: 0 3px 4px rgba(0, 0, 0, 0.12), 0 1px 5px rgba(0, 0, 0, 0.2);
}

#bottom-navigation .bottom-navigation-destination {
	padding: 8px 8px 0 8px;
	flex: 1;
	text-align: center;
	flex-grow: 1;
	font-size: 12px;
	max-width: 168px;
	transition: 125ms cubic-bezier(0.0, 0.0, 0.2, 1);
	cursor: pointer;
}

#bottom-navigation .bottom-navigation-destination.active {
	padding: 6px 8px 0 8px;
}

.bottom-navigation-destination path {
	transition: 125ms;
	fill: rgba(230, 230, 230, 0.64);
}

.bottom-navigation-destination.active path {
	fill: rgba(230, 230, 230, 0.96);
}

.bottom-navigation-label {
	transition: 225ms cubic-bezier(0.4, 0.2, 0, 1);
	font-weight: 500;
	font-size: 12px;
	color: rgba(230, 230, 230, 0.64);
	font-weight: 500;
}

.bottom-navigation-destination.active .bottom-navigation-label {
	font-size: 14px;
	color: rgba(230, 230, 230, 0.96);
}

#bottom-navigation .bottom-navigation-destination svg {
	font-size: 24px;
	z-index: 4;
	display: block;
	margin: 0 auto 2px auto;
}

.ripple {
	position: relative;
	overflow: hidden;
}

._inkSplash {
	position: absolute;
	background-color: #000;
	width: 16px;
	height: 16px;
	opacity: 0.14;
	z-index: 4;
	border-radius: 50%;
}

.snackbar {
	display: inline-block;
	min-height: 36px;
	position: fixed;
	bottom: -96px;
	width: auto;
	left: 8px;
	right: 8px;
	margin: auto;
	font-size: 16px;
	line-height: 20px;
	border-radius: 4px;
	transition: bottom 225ms cubic-bezier(0.4, 0.0, 1, 1), color 150ms 75ms;
	box-sizing: border-box;
	padding: 12px 16px;
	background-color: #323232;
	color: rgba(256, 256, 256, 0);
	z-index: 24;
	
}

.snackbar.slideUp {
	transition: bottom 200ms cubic-bezier(0.0, 0.0, 0.2, 1), color 150ms 75ms;
	bottom: 68px;
	color: rgba(256, 256, 256, 1);
}

/* Begin preloader */

.preloader-wrapper {
	box-sizing: border-box;
	width: 36px;
	height: 36px;
	display: inline-block;
	position: relative;
}

.preloader-wrapper.centered {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

.preloader-wrapper.active {
	-webkit-animation: container-rotate 1568ms linear infinite;
	animation: container-rotate 1568ms linear infinite;
}

.spinner-layer {
	box-sizing: inherit;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	border-color: #2196f3;
}

.active .spinner-layer {
	opacity: 1;
	-webkit-animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
	animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

.gap-patch {
	position: absolute;
	top: 0;
	left: 45%;
	width: 10%;
	height: 100%;
	overflow: hidden;
	border-color: inherit;
	box-sizing: inherit;
}

.gap-patch .circle {
	width: 1000%;
	left: -450%;
}

.circle {
	box-sizing: inherit;
	border-radius: 50%;
}

.circle-clipper {
	display: inline-block;
	position: relative;
	width: 50%;
	height: 100%;
	overflow: hidden;
	border-color: inherit;
	box-sizing: inherit;
}

.circle-clipper.right .circle {
	left: -100%;
	border-left-color: transparent !important;
	-webkit-transform: rotate(-129deg);
	transform: rotate(-129deg);
	box-sizing: inherit;
}

.active .circle-clipper.right .circle {
	-webkit-animation: right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
	animation: right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

.circle-clipper.left .circle {
	left: 0;
	border-right-color: transparent !important;
	-webkit-transform: rotate(129deg);
	transform: rotate(129deg);
}

.active .circle-clipper.left .circle {
	-webkit-animation: left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
	animation: left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

.circle-clipper .circle {
	width: 200%;
	height: 100%;
	border-width: 4px;
	border-style: solid;
	border-color: inherit;
	border-bottom-color: transparent !important;
	border-radius: 50%;
	-webkit-animation: none;
	animation: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
}

.left {
	float: left !important;
}

.right {
	float: right !important;
}

@keyframes container-rotate {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes fill-unfill-rotate {
	12.5% {
		-webkit-transform: rotate(135deg);
		transform: rotate(135deg);
	}
	25% {
		-webkit-transform: rotate(270deg);
		transform: rotate(270deg);
	}
	37.5% {
		-webkit-transform: rotate(405deg);
		transform: rotate(405deg);
	}
	50% {
		-webkit-transform: rotate(540deg);
		transform: rotate(540deg);
	}
	62.5% {
		-webkit-transform: rotate(675deg);
		transform: rotate(675deg);
	}
	75% {
		-webkit-transform: rotate(810deg);
		transform: rotate(810deg);
	}
	87.5% {
		-webkit-transform: rotate(945deg);
		transform: rotate(945deg);
	}
	100% {
		-webkit-transform: rotate(1080deg);
		transform: rotate(1080deg);
	}
}

@keyframes right-spin {
	0% {
		-webkit-transform: rotate(-130deg);
		transform: rotate(-130deg);
	}
	50% {
		-webkit-transform: rotate(5deg);
		transform: rotate(5deg);
	}
	100% {
		-webkit-transform: rotate(-130deg);
		transform: rotate(-130deg);
	}
}

@keyframes left-spin {
	0% {
		-webkit-transform: rotate(130deg);
		transform: rotate(130deg);
	}
	50% {
		-webkit-transform: rotate(-5deg);
		transform: rotate(-5deg);
	}
	100% {
		-webkit-transform: rotate(130deg);
		transform: rotate(130deg);
	}
}

@media screen and (min-width: 365px) {
	.round-half-button {
		width: calc(50% - 16px);
		padding: 4px 8px;
	}

	.add-fren-text {
		left: 64px;
	}
}

@media screen and (min-width: 672px) {
	/* Bottom nav becomes side nav when screen is too big */
	#bottom-navigation {
		width: 56px;
		height: 100vh;
		left: -64px;
		top: 0;
		right: initial;
		display: initial;
		border-radius: 0;
	}
	#bottom-navigation.slide-in {
		left: 0;
	}
	#bottom-navigation .bottom-navigation-destination {
		color: rgba(256, 256, 256, 0.54);
		padding: 16px;
	}
	/* No need for label on side nav */
	.bottom-navigation-label {
		display: none;
	}
	#bottom-navigation .bottom-navigation-destination.active {
		color: rgba(256, 256, 256, 0.87);
		padding: 16px;
	}
	#bottom-navigation .bottom-navigation-destination .material-icons {
		margin: 0;
	}
	#fab {
		right: 8px;
	}
	.top-level-destination {
		left: 64px;
		right: 0;
		width: auto;
	}
	.top-level-destination.active #fab {
		bottom: 8px;
	}
	main {
		padding-left: 56px;
	}
	#app-title.fade-down {
		top: 16px;
	}
	.snackbar.slideUp {
		bottom: 8px;
	}
	.top-level-destination {
		width: 64vw;
		left: 56px;
		right: 0;
		margin: auto;
	}
	/*#chat-screen {
		width: 40vw;
		left: 56px;
		margin: 0;
		height: 100vh;
	}
	#contact-list {
		height: 100%;
		padding: 0;
		margin: 0;
		padding-top: 8px;
		box-sizing: border-box;
		overflow: auto
	}
	.dialog-toolbar {
		display: none;
	}*/
	.dialog {
		left: 64px;
		right: 8px;
		top: 8px;
		bottom: 8px;
		margin: auto;
		height: auto;
		width: 66vw;
		border-radius: 8px !important;
	}
	
	.snackbar {
		width: 512px;
		left: 8px;
		right: 8px;
	}
}

@media screen and (min-width: 965px) {
	#chat-screen,
	.dialog {
		width: 618px;
	}
}
